.vs
after_doc/
node_modules/

after/.vs
after/bin/
after/obj/
after/css/
after/js/
after/after.csproj.user
after/unnecessary.js

after_spec/.vs
after_spec/bin/
after_spec/obj/
after_spec/after_spec.csproj.user
